body {
    margin: 0;
    padding: 0;
  }
  #geojsonDisplay a {
display: inline-block;
padding: 10px 20px;
background-color: #3498db;
color: #fff;
text-decoration: none;
border-radius: 5px;
font-weight: bold;
margin-top: 10px;
cursor: pointer;
transition: background-color 0.3s ease;
}

#geojsonDisplay a:hover {
background-color: #2980b9;
}
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  #exportGeoJSON {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 1;
    background-color: aquamarine;
  }